$white: #ffffff;
$grey: #ccc;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $grey;
	color: $white;
	font-family: "Open Sans";
	height: 100%;
	width: 100%;

	input,
	textarea {
		border: 1px solid transparent;
		border-radius: 3px;
	}
}

#root {
	.container {
		margin: 0 auto;
		max-width: 1000px;
	}
  
  
	

	.search-outer {
		margin: 50px 0 35px;
		text-align: center;

		.searchform {
			display: inline-block;
			position: relative;
			left: 0;
			right: 0;

			input {
				outline: medium none;
			}

			input[type="search"] {
				background-color: transparent;
				border: medium none;
				border-width: 0 0 1px 0;
				border-style: solid;
				border-color: $grey;
				border-radius: 0;
				box-sizing: content-box;
				color: $white;
				cursor: pointer;
				font-family: inherit;
				font-size: 100%;
				margin-bottom: 0;
				padding: 3px 0;
				transition: all 0.5s ease 0s;
				max-width: 300px;
				width: calc(100% - 15px);
				-webkit-appearance: none;
				-moz-appearance: none;

				&::-webkit-search-decoration {
					-webkit-appearance: none;
				}

				/* clears the 'X' from Internet Explorer */
				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&::-ms-reveal {
					display: none;
					width: 0;
					height: 0;
				}

				/* clears the 'X' */
				&::-webkit-search-decoration,
				&::-webkit-search-cancel-button,
				&::-webkit-search-results-button,
				&::-webkit-search-results-decoration {
					display: none;
				}

				&:focus {
					background-color: transparent;
					color: #fff;
					cursor: auto;
					padding: 3px 0;
				}
			}

			&:hover input[type="search"] {
				background-color: transparent;
				color: $white;
				cursor: auto;
				padding: 3px 0;
			}
		}

		button[type="submit"] {
			background-color: rgba(0, 0, 0, 0);
			border: medium none;
			color: #fff;
			cursor: pointer;
			height: 30px;
			line-height: 1;
			float: right;
			font-size: 1em;
			pointer-events: none;
			width: auto;
			z-index: 1000000000;
		}

		.fa-search {
			padding-left: 0;
			padding-right: 0;
		}
	}


::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.5);
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.5);
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.5);
}

.data-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0 15px;

	&:after {
		content: "";
	}

	&:after,
	li {
		width: calc(33.33% - 10px);
	}

	li {
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 15px;
		padding: 30px;

		.title {
			color: blue;
			margin-bottom: 30px;
			text-decoration: none;
			& img{
				background: #f7f5f5;
			}
		}

		.link {
			color: $white;
			text-decoration: none;
		}
	}
}
}

@media only screen and (max-width: 767px) {
	.data-list {
		&:after,
		li {
			width: 100% !important;
		}
		& .title{
			& img{
				width: 100%;
			}
		}

	}
	footer{
		text-align: center;
		& h4{
			display: block !important;
			color: black;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	nav{
		width: 30% !important;
	}
	button{
		width:60% !important;
		margin-left: 20% !important;
	}
.data-list:after, .data-list li {
	width: 48% !important;
	
}
.data-list li .title img{
	width: 100% !important;	
}
}
@media only screen and (max-width: 400px) {

	.data-list {
		&:after,
		li {
			width: 100%;
		}
	}
}
header {
  background-color: #CCC;
  margin-left:20px;
  text-align: left;
  font-size: 18px;
  color: black;
}
footer{
	text-align: center;
	& h4{
		display: inline-block;
		color: black;
	}
}
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  height: 1000px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 10px 10px 40px 10px;
  background: #fff;
  color: black;
  & p{
	text-align: center;
    border-bottom: 1px solid black;
    margin: 9px 40px;
  }
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  color:blue;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
button 
{
	margin-left: 28px;
    margin-top: 10px;
    background: palegreen;
    padding: 8px 19px;
    color: black;
    border-radius: 8px;
    outline: none;
    width: 30%;
}

button:hover{
	background: green;
    cursor: pointer;
    outline: none;
    color: white;
    font-weight: bold;
}